.header{
    background-color: #068be2;
    color: #ffffff;
    padding: 20px 20px;
    height: 100vh;
    border-radius: 10px;
    text-align: center;
}
.header ul, .header li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .wrapper {
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
.header li{
    margin-bottom: 25px;
    cursor: pointer;
}
.header li:last-child{
    margin-bottom: 0px;
}
.header{
    position: relative;
}
.header .logout{
    position: absolute;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    cursor: pointer;
}
.header.active{
    padding:20px 0 ;
}
.header.active li.active{
    border-left: 5px solid #ffffff;
}